bin
lib
conf.json
.vscode

.DS_Store
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
CMakeLists.txt.user
.kdev4/vcbld.kdev4
vcbld.kdev4
