version: 0.1.{build}

branches:
    only:
        - master

environment:
  matrix:
    - id: linux-64
      APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    - id: win64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    - id: win32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017

for: 
  - 
    matrix:
      only:
        - id: linux-64
    build_script:
      - sh: ./build-linux.sh

  - 
    matrix:
      only:
        - id: win64
    build_script:
      - cmd: .\build-w64.bat

  - 
    matrix:
      only:
        - id: win32
    build_script:
      - cmd: .\build-w32.bat

artifacts:
- path: bin_w64\release\vcbld.exe
  name: vcbld_win64
- path: bin_w64\release\vcbld-gui.exe
  name: vcbld-gui_win64
- path: bin_w64\release\vcbld-gui.bat
  name: vcbld-gui-bat_win64
- path: bin_w64\release
  name: release-w64
- path: bin_w32\release\vcbld.exe
  name: vcbld_win32
- path: bin_w32\release\vcbld-gui.exe
  name: vcbld-gui_win32
- path: bin_w32\release\vcbld-gui.bat
  name: vcbld-gui-bat_win32
- path: bin_w32\release
  name: release-w32
- path: bin_linux/release/vcbld
  name: vcbld_linux64
- path: bin_linux/release/vcbld-gui
  name: vcbld-gui_linux64
- path: bin_linux/release/vcbld-gui.command
  name: vcbld-gui-command_linux64
- path: bin_linux/release/vcbld-gui.AppImage
  name: vcbld-gui-appimage_linux64

deploy:
- provider: GitHub
  tag: vcbld-v0.1-alpha-win64
  release: vcbld-win64-av
  description: "Tried with mingw64 and for header only libraries. Tried with the msvc compiler (cl.exe) and it works, however, vcbld needs to be run from the developer command prompt. As for the gui, the bat file also needs to be started from the dev command prompt to access the development environment variables also used by your installation of the vs build tools or visual studio. Otherwise, the bat file can be modified like in the vcbld-gui tutorial here: https://www.youtube.com/watch?v=6lYCwM-UlNE  
  Only download the release folder if you're missing OpenGL dependencies. Note that running the vcbld cmake command on windows generates a visual studio solution by default."
  auth_token:
    secure: ta1sqN8ALHgB+6BHHv3dqO7Q9DyB6oJNLIHu9EhQzmD3PqVFri0Q80GMcnA4t6ZU
  repository: MoAlyousef/vcbld
  artifact: vcbld_win64, vcbld-gui_win64, release-w64, vcbld-gui-bat_win64
  prerelease: true

- provider: GitHub
  tag: vcbld-v0.1-alpha-win32
  release: vcbld-win32-av
  description: "Tried with mingw64 and for header only libraries. Tried with the msvc compiler (cl.exe) and it works, however, vcbld needs to be run from the developer command prompt. As for the gui, the bat file also needs to be started from the dev command prompt to access the development environment variables also used by your installation of the vs build tools or visual studio. Otherwise, the bat file can be modified like in the vcbld-gui tutorial here: https://www.youtube.com/watch?v=6lYCwM-UlNE  
  Only download the release folder if you're missing OpenGL dependencies. Note that running the vcbld cmake command on windows generates a visual studio solution by default."
  auth_token:
    secure: ta1sqN8ALHgB+6BHHv3dqO7Q9DyB6oJNLIHu9EhQzmD3PqVFri0Q80GMcnA4t6ZU
  repository: MoAlyousef/vcbld
  artifact: vcbld_win32, vcbld-gui_win32, release-w32, vcbld-gui-bat_win32
  prerelease: true

- provider: GitHub
  tag: vcbld-v0.1-alpha-linux64
  release: vcbld-linux64-av
  description: "vcbld and vcbld-gui for linux debian distros"
  auth_token:
    secure: ta1sqN8ALHgB+6BHHv3dqO7Q9DyB6oJNLIHu9EhQzmD3PqVFri0Q80GMcnA4t6ZU
  repository: MoAlyousef/vcbld
  artifact: vcbld_linux64, vcbld-gui_linux64, vcbld-gui-appimage_linux64, vcbld-gui-command_linux64
  prerelease: true